extends layout

block content
  link(rel="stylesheet" href="/css/app.97face2a2de086536f6f.css")
  <dng-app>Loading...</dng-app>
  script(type="text/javascript" src="/js/polyfills.97face2a2de086536f6f.js")
  script(type="text/javascript" src="/js/vendor.97face2a2de086536f6f.js")
  script(type="text/javascript" src="/js/app.97face2a2de086536f6f.js")