extends layout

block content
  link(rel="stylesheet" href="/css/app.cbde40e10aab65a1370d.css")
  <dng-app>Loading...</dng-app>
  script(type="text/javascript" src="/js/polyfills.cbde40e10aab65a1370d.js")
  script(type="text/javascript" src="/js/vendor.cbde40e10aab65a1370d.js")
  script(type="text/javascript" src="/js/app.cbde40e10aab65a1370d.js")