extends layout

block content
  link(rel='stylesheet' href='/css/app.72c5ea44179f0bca39fb.css')
  <dng-app>Loading...</dng-app>
  script(type='text/javascript' src='/js/polyfills.72c5ea44179f0bca39fb.js')
  script(type='text/javascript' src='/js/vendor.72c5ea44179f0bca39fb.js')
  script(type='text/javascript' src='/js/app.72c5ea44179f0bca39fb.js')
