extends layout

block content
  link(rel="stylesheet" href="/css/app.9d99ead63827c8b9dd27.css")
  <dng-app>Loading...</dng-app>
  script(type="text/javascript" src="/js/polyfills.9d99ead63827c8b9dd27.js")
  script(type="text/javascript" src="/js/vendor.9d99ead63827c8b9dd27.js")
  script(type="text/javascript" src="/js/app.9d99ead63827c8b9dd27.js")